@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css or index.css */

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Adjust this value as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #4a148c, #0d47a1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #4a148c, #0d47a1);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}